html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  font-family: $fontFamily--base;
  line-height: 1.5;
  color: #434851;
  margin: 0;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
}
section {
  padding: 2em 0;
  @media only screen and (min-width: 768px) {
    padding: 4em 0;
  }
}
h1,
h2,
h3 {
  @include fontHeading();
  margin: 0.25em 0;
}
h1 {
  font-size: 2.643rem;
  @media only screen and (min-width: 768px) {
    font-size: 4rem;
  }
}
h2 {
  font-size: 2rem;
  @media only screen and (min-width: 768px) {
    font-size: 3rem;
  }
}
h3 {
  font-size: 1.643rem;
  @media only screen and (min-width: 768px) {
    font-size: 2rem;
  }
}
p {
  margin: 0;
  line-height: 1.7;
}
p + p {
  margin-top: 1em;
}
small {
  font-size: 80%;
  h1 & {
    display: block;
    @include fontSubHeading;
    font-size: 1.25rem;
    font-weight: normal;
  }
}
img {
  display: block;
  border: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
