html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  font-family: "Trajan Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  color: #334249;
  margin: 0;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
}
section {
  padding: 4em 1em;
}
h1 {
  font-size: 2.643rem;
  font-weight: 400;
  @media only screen and (min-width: 768px) {
    font-size: 4rem;
  }
}
h2 {
  font-size: 1.643rem;
  font-weight: 400;
  @media only screen and (min-width: 768px) {
    font-size: 3rem;
  }
}
h3 {
  font-size: 1.286rem;
  font-weight: 400;
  @media only screen and (min-width: 768px) {
    font-size: 2rem;
  }
}
p {
  margin: 0;
  line-height: 1.7;
}
p + p {
  margin-top: 1em;
}
img {
  display: block;
  border: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3,
.fancy {
  font-family: "silicia_scriptregular";
}
