.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #434851;
}
.hero--charleston {
  background-position: center 90%;
}
.hero__content {
  padding: 8em 0;
  color: #fff;
  text-align: center;
}
