.row {
  @include flexbox();
  @include flex-wrap(wrap);
}
.row--middled {
  @include align-items(center);
}
.row__half {
  @include order(2);
  padding: 0 1em;
  width: 100%;
  @media only screen and (min-width: 768px) {
    width: 50%;
    @include order(unset);
  }
}
.row__half--first {
  @include order(1);
  margin-bottom: 1em;
  @media only screen and (min-width: 768px) {
    @include order(unset);
  }
}
