.row {
  display: flex;
  flex-wrap: wrap;
}
.row--middled {
  align-items: center;
}
.row__half {
  order: 2;
  padding: 0 1em;
  width: 100%;
  @media only screen and (min-width: 768px) {
    width: 50%;
    order: unset;
  }
  h2 {
    margin: 0.5em 0 0.25em;
  }
}
.row__half--first {
  order: 1;
  margin-bottom: 1em;
  @media only screen and (min-width: 768px) {
    order: unset;
  }
}
