.wedding__info {
  position: relative;
  &:first-of-type {
    padding-top: 2.5em;
    margin-bottom: 1em;
    &:before {
      content: "•";
      content: "💍";
      position: absolute;
      top: 0;
      left: 50%;
      color: rgba(255, 255, 255, 0.75);
      @include transform(translateX(-50%));
    }
  }
}
.wedding__info--bordered {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 5em;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    @include transform(translateX(-50%));
  }
}
.wedding__infoLocation {
  @include fontHeading();
  font-size: 2rem;
}
.wedding__infoDate {
  @include fontSubHeading();
  font-size: 1.25rem;
  margin-top: -0.5em;
  text-transform: lowercase;
  sup {
    vertical-align: top;
  }
}
.wedding__link {
  display: inline-block;
  padding: 0.75em 1em;
  text-transform: uppercase;
  color: inherit;
  border: 1px solid #fff;
  text-decoration: none;
  &:hover, &:active {
    background-color: #fff;
    color: #434851;
    border: 1px solid #fff;
  }
}
